// Import page-specific CSS files here.
@import "home";


body {
  font-family: 'Poiret One', cursive;
}

.header {
  margin:20px;
  color: white;
  background-color: #E20049;
  border-style: dotted;
  border-width:3px;
  text-align: center;
}
